[Unit]
Description=SD steam sync

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/deck/.local/share/sdsync/sdsync

[Install]
WantedBy=default.target
